
Debug/
Release/
x64/
x86/
bin/
obj/
out/
build/
include/
esm/

.vs/
.vscode/
*.suo
*.sdf
*.opensdf
*.db
*.aps
*.ncb

*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj
*.log

lab5/node_modules
.env
npm-debug.log
yarn-error.log
